/* a { 
    float: right;
    display: block;
    background-color: white;
    padding: 20px 30px;
    text-decoration: none;

}

a.active{
    background-color:darkcyan;
    color:white;
}

a:hover{
    background-color: cyan;
} */