.Cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 0px;
}

.cardHeader{
    padding-left: 30px;
    font-size: 20px;
}

.spinner{
    width: 100%;
    text-align: center;
}