.historyList{
        /* display: flex; */
        padding: 5rem;
        text-align: left;
        font-size: 1rem;
}

.pagination{
        display: flex;
        justify-content: right;
}

.pagination li{
        /* width: 3rem;
        height: 3rem; */
        box-sizing: border-box;
        /* padding: 1.5rem; */
        padding:5px 10px 5px 10px;
}

.pagination li a{
        display: inline-block;
        width: 100%;
        height: 100%;
}

.activePage{
        background-color: rgb(58, 62, 125) !important;
        border-radius: 20%;
}

.pagination li:first-child{
        border-radius: 15% 0% 0% 15%;
}
.pagination li:last-child{
        border-radius: 0% 15% 15% 0%;
}