.modal-content{
    background: rgb(20, 22, 59) !important;
    border: 2px solid rgb(245, 171, 65) !important;
    border-radius: 30px !important;
    padding: 1.5rem !important;
}

.modal-header{
    justify-content: center !important;
}

.modal-body{
    text-align: center;
}

.coinDetails{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}