.coinRow, .coinHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 25px;
}

.coinRow:hover{
        cursor: pointer;
        background-color: rgb(58, 62, 125) !important;
}

.coinRow div, .coinHeader div{
        flex: 1;
        /* width: 10rem; */
        word-wrap: break-word;
        padding: 1rem;
}

@media only screen and (max-width: 1000px) {
        .balanceUSD, .oneDay, .sevenDay {
                display: none;
       }
       .coinRow div{
                min-width: 5rem;
       }
}
      

.coinRow img{
        width:auto;
        height:40px;
}

.coinHeader img{
        width: auto;
        height: 50px;
}
